# Autoriser l'accès aux images
<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    <RequireAll>
        Require all granted
    </RequireAll>
</FilesMatch>

# Bloquer l'accès aux fichiers PHP
<FilesMatch "\.php$">
    <RequireAll>
        Require all denied
    </RequireAll>
</FilesMatch>
